:root {
  --text: #888;
  --line1: #e1e1e1;
  --line2: #333;
  --bgcolor: #f0f0f0;
  --white: #fff;
}

.list-type1 {
  display: flex;
  li {
    flex: 1;
    border: 1px soild var(--line1);
    border-bottom: 1px solid var(--line2);
    border-left: none;
    background-color: var(--bgcolor);
    color: var(--text);
    font-size: 14px;
    &:first-child {
      border-left: 1px solid var(--line1);
    }
  }
  .--active {
    border: 1px solid var(--line2);
    border-bottom: none;
    background-color: var(--white);
  }
}
a {
  display: flex;
  justify-content: center;
  height: 36px;
  align-items: center;
}

.tab-content {
  height: 220px;
  margin-top: 25px;
  background: var(--bgcolor);
}

.list-type2 {
  display: flex;
  --text3: #333;
  --bgcolor3: #f3f3f3;
  --orange3: #f26e50;
  --white3: #fff;

  li {
    flex: 1;
    border-left: none;
    background-color: var(--bgcolor3);
    color: var(--text3);
    font-size: 14px;
  }
  a {
    display: flex;
    justify-content: center;
    height: 61px;
    align-items: center;
  }

  .tab-content {
    color: var(--text3);
    width: 1000px;
    height: 220px;
    padding: 10px;
    background: #f0f0f0;
    align-content: center;
  }
  .--active2 {
    color: var(--bgcolor3);
    background-color: var(--orange3);
    box-shadow: 0px 9px 14px 0px rgba(242, 110, 80, 0.9);
    position: relative;
  }
}

.heading {
  --text: #999;
  --black: #000;
  color: var(--black);
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 36px;
  span {
    color: var(--text);
  }
}

.text-type1 {
  --text: #999;

  color: #999;
  font-size: 15px;
  text-align: center;
}

.tab-type1 {
  --text: #3c2e30;
  --line: #e6e6e6;
  --black: #000;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  a {
    color: var(--text);
    font-size: 14px;
  }
  .--active {
    color: var(--black);
    font-weight: 700;
    text-decoration-line: underline;
  }
  li {
    display: flex;
    align-items: center;
    + li {
      &::before {
        display: inline-block;
        content: "";
        height: 12px;
        border-right: 2px solid var(--line);
      }
    }
  }
}

.product-list {
  --badgeText: #676767;
  --badgeBg: #fcfbfb;
  --text: #3c2e30;
  --price: #333;
  --slash: #c3c0c3;

  display: flex;
grid-template-columns: repeat(3, 1fr);
  gap: 41px 35px;

  }
}

.product-list__thumbnail {
  position: relative;
  img {
    width: 100%;
  }
}

.product-list__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 55px;
  height: 55px;
  background-color: var(--badgeBg);
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.produt-list__title {
  color: var(--text);
  font-size: 15px;
  text-align: center;
  padding-top: 18px;
}

.produt-lis__discount {
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 14px;
  text-decoration: line-through;
  &::after {
    display: block;
    content: "";
    width: 21px;
    margin: 0 10px;
    border-top: 1px solid var(--slash);
    transform: rotate(-45deg);
  }
}

.produt-list__price {
  color: var(--price);
  font-size: 20px;
  font-weight: 700;
}

.produt-lis__inofomation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
